@import "./node_modules/bootstrap/scss/functions";

$primary: #8281D1;
$secondary: #50A6EC;
$blue-line: #5CE1E6;

@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";

$custom-colors: (
    "blue-line": $blue-line,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$custom-spacers: (
  "6": $spacer * 7
);

$spacers: map-merge($spacers, $custom-spacers);

@import "./node_modules/bootstrap/scss/bootstrap";