@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import "./node_modules/bootstrap/scss/functions";

$primary: #8281D1;
$secondary: #50A6EC;
$blue-line: #5CE1E6;

$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-code: "Space Grotesk", monospace;

$font-family-base: $font-family-code;

$headings-font-family: $font-family-sans-serif;

$font-size-root: 16px;

a {
  font-family: $font-family-sans-serif;
}

.nav-item {
  z-index: 1;
}

@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";

$custom-colors: (
    "blue-line": $blue-line,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$custom-spacers: (
  "6": $spacer * 7
);

$spacers: map-merge($spacers, $custom-spacers);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  ct: 1022px,
  xl: 1200px,
  xxl: 1400px
);

@import "./node_modules/bootstrap/scss/bootstrap";